<div class="mt-5">
    <form class="col-lg-6 offset-lg-3 ">
        <h2>write a new post!</h2>
        <div class="row justify-content-center">
            <input type="text" placeholder="Example input">
            <span class="input-group-btn">
            <button class="btn btn-primary mt-5">Submit</button>
            </span>
        </div>
    </form>
</div>