<div class="mt-5 ">
    <form class="col-lg-6 offset-lg-3 ">
        <h2>write a new post!</h2>
        <div class="row justify-content-center">
            <input type="text" placeholder="Post Title">
            <input class="mt-2" type="text" placeholder="Example input">
            <span class="input-group-btn">
            <button class="btn btn-primary mt-5">Submit</button>
            </span>
        </div>

    <div class="bg-secondary p-2 m-3">

        <div class="border bg-light  p-2  ">
            <h2 class="bg-secondary text-light rounded p-2">Third post</h2>
            <p>this is my third post on my blog page</p>
            <small>Monday January 9th @ 9:58pm</small>
            <div class="d-flex justify-content-around mt-2" >
                <button class="btn btn-secondary">react</button>
                <button class="btn btn-secondary">comment</button>
                <button class="btn btn-secondary">like</button>
            </div>  
        </div>
    </div>

    <div class="bg-secondary p-2 m-3">

        <div class="border bg-light   p-2  ">
            <h2 class="bg-secondary text-light rounded p-2">Second post</h2>
            <p>this is my second post on my blog page</p>
            <small>Monday January 9th @ 9:30pm</small>
            <div class="d-flex justify-content-around mt-2" >
                <button class="btn btn-secondary">react</button>
                <button class="btn btn-secondary">comment</button>
                <button class="btn btn-secondary">like</button>
            </div>  
        </div>
    </div>

    <div class="bg-secondary p-2 m-3">
        <div class="border bg-light   p-2  ">
            <h2 class="bg-secondary text-light rounded p-2">First post</h2>
            <p>this is my first post on my blog page</p>
            <small>Monday January 9th @ 9:12pm</small>
            <div class="d-flex justify-content-around mt-2" >
                <button class="btn btn-secondary">react</button>
                <button class="btn btn-secondary">comment</button>
                <button class="btn btn-secondary">like</button>
            </div>  
        </div>
    </div>


    </form>

         

</div>