<div class="mt-5 ">
    <form class="col-lg-6 offset-lg-3 " action="/dashboard">
        <h2>log in!</h2>
        <div class="row justify-content-center">
            <label for="username">Username</label>
            <input type="text" name="username" placeholder="username">
            <label for="username">Password</label>
            <input class="mt-2" type="text" placeholder="password">
            <input class="mt-2" type="text" placeholder="match password">
            <span class="input-group-btn">
            <button class="btn btn-primary mt-5">Login</button>
            </span>
        </div>

    </form>
</div>